.container {
    width: 80%;
    margin: 0 auto;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    width: 80%;
    border-radius: 5px;
    background-color: white;
  }
  
  button {
    padding: 8px;
    margin: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .note {
    padding: 10px;
    background-color: #f4f4f4;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    cursor: pointer;
  }
  
  